*{
margin: 0;
padding: 0;
border: 0;
}

body{
margin: 0;
padding: 0;
color: #ffffff;
/*background-color: #CDE0EF;*/
background-repeat: repeat-x;
/*background-color: #0000ff;*/
background: linear-gradient(to top, #206BB2, #084B8A);
font-style:normal; font-variant:normal; font-weight:normal; font-size:76%; font-family: Arial;
}

#nav_top{
position: fixed; /* положение */
top: 0px; /* отступ сверху */
/*right: 0px; /* отступ справа */
width: 1200px; /* ширина блока */
height: 50px; /* высота блока */
font: 14px Arial; /* размер и тип шрифта */
color: #ffffff; /* цвет текста */
text-align: center; /* выравнивание текста по центру */
padding: 0px; /* отступы от границ внутри блока */
background: #dae0ed;
}

#lang{
position: fixed; /* положение */
top: 0px; /* отступ сверху */
right: 0px; /* отступ справа */
width: 50px; /* ширина блока */
height: 190px; /* высота блока */
font: 14px Arial; /* размер и тип шрифта */
color: #ffffff; /* цвет текста */
background: #084B8A;
text-align: center; /* выравнивание текста по центру */
padding: 5px; /* отступы от границ внутри блока */
border-radius: 10px 0 0 10px;
}

#lang .but_ua {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 5px;
  top: 10px;
  cursor: pointer;
  font-family: "Lucida Sans";
  font-weight: bold;
  font-size: 23px;
  color: #888;
  text-shadow: 0px 1px 0px #fff;
  text-align: center;
  padding-top: 0px;
 
  /*-moz-border-radius: 40px;  
  -webkit-border-radius: 40px; */ 
  border-radius: 0px;
  
 background: url(../images/country/ua.png) center no-repeat;
  
 /* -webkit-box-shadow: rgba(0,0,0,.4) 0 3px 6px;  
  -moz-box-shadow: rgba(0,0,0,.4) 0 3px 6px;  
  box-shadow: rgba(0,0,0,.4) 0 3px 6px;
  
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;*/
}

#lang .but_ua:hover {
  
  -webkit-box-shadow: rgba(0,0,0,.4) 0 3px 8px;  
  -moz-box-shadow: rgba(0,0,0,.4) 0 3px 8px;  
  box-shadow: rgba(0,0,0,.4) 0 3px 8px;
}

#lang .but_ua:active {
  width: 50px;
  height: 50px;
  margin: 1px 0 0 2px;   
  border-bottom: 1px solid #fff;
  font-size: 21px;
  color: #777;

  -webkit-box-shadow: inset rgba(0,0,0,.5) 0px 5px 10px;
  -moz-box-shadow: inset rgba(0,0,0,.5) 0px 5px 10px;
box-shadow: inset rgba(0,0,0,.5) 0px 5px 10px;
}

#lang .but_uk {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 5px;
  top: 140px;
  cursor: pointer;
  font-family: "Lucida Sans";
  font-weight: bold;
  font-size: 23px;
  color: #888;
  text-shadow: 0px 1px 0px #fff;
  text-align: center;
  padding-top: 0px;
 
  /*-moz-border-radius: 40px;  
  -webkit-border-radius: 40px; */ 
  border-radius: 0px;
  
 background: url(../images/country/uk.png) center no-repeat;
  
 /* -webkit-box-shadow: rgba(0,0,0,.4) 0 3px 6px;  
  -moz-box-shadow: rgba(0,0,0,.4) 0 3px 6px;  
  box-shadow: rgba(0,0,0,.4) 0 3px 6px;
  
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;*/
}

#lang .but_uk:hover {
  
  -webkit-box-shadow: rgba(0,0,0,.4) 0 3px 8px;  
  -moz-box-shadow: rgba(0,0,0,.4) 0 3px 8px;  
  box-shadow: rgba(0,0,0,.4) 0 3px 8px;
}

#lang .but_uk:active {
  width: 50px;
  height: 50px;
  margin: 1px 0 0 2px;   
  border-bottom: 1px solid #fff;
  font-size: 21px;
  color: #777;

  -webkit-box-shadow: inset rgba(0,0,0,.5) 0px 5px 10px;
  -moz-box-shadow: inset rgba(0,0,0,.5) 0px 5px 10px;
box-shadow: inset rgba(0,0,0,.5) 0px 5px 10px;
}


#lang .but_ru {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 5px;
  top: 75px;
  cursor: pointer;
  font-family: "Lucida Sans";
  font-weight: bold;
  font-size: 23px;
  color: #888;
  text-shadow: 0px 1px 0px #fff;
  text-align: center;
  padding-top: 0px;
  
  /*-moz-border-radius: 100px;  
  -webkit-border-radius: 100px;*/  
  border-radius: 0px;  
  
 background: url(../images/country/ru.png) center no-repeat;
  
 /* -webkit-box-shadow: rgba(0,0,0,.4) 0 3px 6px;  
  -moz-box-shadow: rgba(0,0,0,.4) 0 3px 6px;  
  box-shadow: rgba(0,0,0,.4) 0 3px 6px;
  
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;*/
}

#lang .but_ru:hover {
  
  -webkit-box-shadow: rgba(0,0,0,.4) 0 3px 8px;  
  -moz-box-shadow: rgba(0,0,0,.4) 0 3px 8px;  
  box-shadow: rgba(0,0,0,.4) 0 3px 8px;
}

#lang .but_ru:active {
  width: 50px;
  height: 50px;
  margin: 1px 0 0 2px;   
  border-bottom: 1px solid #fff;
  font-size: 21px;
  color: #777;

  -webkit-box-shadow: inset rgba(0,0,0,.5) 0px 5px 10px;
  -moz-box-shadow: inset rgba(0,0,0,.5) 0px 5px 10px;
box-shadow: inset rgba(0,0,0,.5) 0px 5px 10px;
}

table{
	width: 100%;
}
/*#table_catalog {
    width: 700px;
    /*height: 500px;*/
    /* background: maroon;  Цвет фона таблицы */
	/*text-align: center;
    color: blue; /* Цвет текста */
	/*font-family: Arial; /* Гарнитура текста */ 
   /* font-size: 350%; /* Размер шрифта в процентах */ 
	/* font-style: italic;
	border: 0px solid black;
}*/
/*
#table_catalog TD, #table_catalog TH {
border: 0px solid black;
    padding: 3px; /* Поля вокруг содержимого таблицы */
    /*border: 0px solid black; /* Параметры рамки */
  /* }*/

#container{
width: 1200px;
margin: 0 auto;
clear: both;
}

#header{
float: left;
background: #FFFFFF;
padding-left: 0px;
width: 100%;
height: 104px;
margin-top: 25px;
}


#header2{
float: left;
padding-left: 0px;
width: 1200px;
height: 200px;
margin-top: 25px;
}
#footer{
margin-bottom: 0px; /* отступ снизу */
width: 100%; /* ширина блока */
height: 10px; /* высота блока */
font: 14px Arial; /* размер и тип шрифта */
color: #ffffff; /* цвет текста */
text-align: left; /* выравнивание текста по центру */
padding: 5px; /* отступы от границ внутри блока */
border-radius: 5px 0 0 5px;
border: 1px solid white;
}
/*#header2 img{
border: 3px solid #85A0C9;
border-color: #85A0C9;
border-radius: 0 20px;
}
*/

/*Content_l_bar

#l_bar{
width: 190px;
height: 520px;
float: left;
}

#l_bar p{
text-align: justify;
text-align: left;
width: 100%;
margin: 0;
padding: 0 15px;
}

#l_bar pi{
font-style: italic;
text-align: left;
width: 100%;
margin: 0;
padding: 0 15px;
}


#l_bar h2{
text-align: center;
width: 100%;
margin: 0;
padding: 0 15px;
font-size: 15px;
}
*/
/*Content_main*/
#main{
width: 900px;
height: auto;
float: left;
border: 1px solid white;
border-radius: 10px;
text-align: left;
}

#main p{
margin-top: 0.5em;
text-align: justify;
text-indent: 1.5em;
padding: 0 15px;
font-size: 20px;
}
.nomer{	
text-align: left;			/*номерной список под схему*/
margin-left: 25%;
font-size: 20px;
}
#main pi{
font-style: italic;
width: 100%;
margin: 0 0 0 30px;
font-size: 14px;
color: black;
}
#view_content_db{
width: 900px;
height: auto;
float: left;
border: 1px solid white;
border-radius: 10px;
text-align: left;
}
#view_content_db h1{
text-align: center;
width: 100%;
margin: 10px;
padding: 15px 15px;
font-size: 24px;
}
#view_content_db p{
text-align: justify;
padding: 5px 50px;
font-size: 20px;
}
#view_content_db pi{
font-style: italic;
width: 100%;
margin: 0 0 0 30px;
font-size: 14px;
color: black;
}
#view_content_db a{
color: #ffffff;	
text-align: center;
width: 100%;
margin: 0;
padding: 15px 15px;

}

#view_content_db a:link{
color: #ffffff;
text-decoration:underline;
}

#view_content_db a:visited{
color: #ffffff;
text-decoration:underline;
}

#view_content_db a:hover{
color:#D8D8D8;
text-decoration:none;
}

#view_content_db a:active{
color:#D8D8D8;
text-decoration:none;
}

#main h1{
text-align: center;
width: 100%;
margin: 10px;
padding: 15px 15px;
font-size: 24px;
}

#main h2{
text-align: center;
width: 100%;
margin: 15px;
padding: 15px;
font-size: 22px;
}
#main h4 { text-align: center; font-size: 20px; }
#main a{
color: #ffffff;	
text-align: center;
width: 100%;
margin: 0;
padding: 15px 15px;

}

#main a:link{
color: #ffffff;
text-decoration:underline;
}

#main a:visited{
color: #ffffff;
text-decoration:underline;
}

#main a:hover{
color:#D8D8D8;
text-decoration:none;
}

#main a:active{
color:#D8D8D8;
text-decoration:none;
}

/*Content_r_bar*/

#r_bar{
display: block;
vertical-align: top;
width: 260px;
/*height: 120px;*/
float: right;
border: 1px solid white;
border-radius: 10px;
padding-left:13px;
padding-right:13px;
margin-left:0px;
}

#r_bar p{
text-align: justify;
margin: 0;
padding: 0 15px;
}

#r_bar pi{
font-style: italic;
text-align: left;
width: 100%;
margin: 0;
padding: 0 15px;
}
/**
#r_bar h2{
text-align: left;
color:#ff0000;
margin: 0;
padding: 0 15px;
font-size: 14px;
}
**/
#r_bar a{
display: inline-block;
text-align: left;
color:#ff0000;
margin: 0;
padding: 0;
font-size: 14px;

}

#r_bar a:link{
color: #ffffff;
text-decoration:underline;
}

#r_bar a:visited{
color: #ffffff;
text-decoration:underline;
}

#r_bar a:hover{
text-decoration:none;
color:#ffffff;
background:#0099ff;
}

#r_bar a:active{
color:#D8D8D8;
text-decoration:none;
}


.clear {
clear:both;
}
.catalog{
display: inline;
padding: 0;
width: 100%;
float: left;	
}
.table_70{
padding: 10px;
text-align: center;
width: 70%;
margin: auto;
float: none;	
}
.table_95{
padding: 10px;
text-align: center;
width: 95%;
margin: auto;
float: none;	
}
.table_99{
padding: 10px;
text-align: center;
width: 99%;
margin: auto;
float: none;	
}
.th_left{
text-align: left;
}
.th_center{
text-align: center;
}
.th_rigth{
text-align: rigth;
}
.td_left{
text-align: left;
}
.td_center{
text-align: center;
}
.td_rigth{
text-align: rigth;
}
.img_2_center{
text-align: center;	
}
.image{
text-align: left;
width: 33%;	
float: left;
padding: 5px 5px;
margin: 0;
display: inline;	
}
.about{
text-align: left;	
width: 65%;	
float: right;
margin: 0;	
}

.about table{
text-align: center;	
}
/*Content_contacts*/
#contacts{
width: 1200px;
float: left;
border: 1px solid white;
border-radius: 10px;
}

#contacts p{
text-align: justify;
text-align: left;
margin: 0;
padding: 0 15px;
font-size: 18px;
}

#contacts pi{
font-style: italic;
text-align: left;
width: 100%;
margin: 0;
padding: 0 15px;
font-size: 14px;
}


#contacts h2{
text-align: center;
width: 100%;
margin: 0;
padding: 0 15px;
font-size: 14px;
}

#contacts a:link{
color: #ffffff;
text-decoration:underline;
}

#contacts a:visited{
color: #ffffff;
text-decoration:underline;
}

#contacts a:hover{
color:#ffffff;
text-decoration:none;
}

#contacts a:active{
color:#ffffff;
text-decoration:none;
}


#footer {
clear: both;
width: 100%;
}

/* Navigation */

#navigation{
clear: both;
float: left;
width: 100%;
background: #dae0ed;
height: 35px;
margin-top: 0px;
padding: 0px;
}

#navigation ul { list-style-type: none; list-style-image: none; float: left; padding: 0px 0px 0px 0px; margin: 0px;}

#navigation li { float: left; margin: 0px; padding: 0px; }

#navigation li a:link,
#navigation li a:visited
{
	float: left;
	color: #5A869E;
	display: block;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	height: 40px;
	font-size: 14px;
	margin-top: 0px;
	
}

#navigation li a:hover, /*при наведении*/
#navigation li a:active/*при нажатии*/
{
	
	color: #FFFFFF;
	background: #aaafb9;/*фон ссылки при наведении*/
	background-repeat: repeat-x;
	font-size: 14px;
	margin-top: 0px;
	
}

.active{background:#C6CCD8;} /*фон текущего пункта меню*/

/*#navigation li.active a
{
	color: #ff0000;
	background-color: #ffffff;
	width: 100%;
}
*/
a{
text-decoration: none;
}



.center{
display:block; margin:0 auto; /* Выравнивание фото по центру */ 
}

/*Content_img*/

.img1{
margin: 0 0 0 0px;
float: left;
}



a:link { text-decoration: none; color: #9CBDD6; }

a:visited { text-decoration: none; color: #9CBDD6; }

a:hover, a:active { color: #CC8AC8; }

a img {border:none;}


/* Headings */
h1 { text-align: left; font-style: normal; font-family: "Arial"; font-weight: 800; font-size: 24px;
 margin-left: 0px; margin-bottom: 0px; margin-top: 10px; color: #ffffff; padding: 0 15px;}
 
h1, h2, h3 { font-weight: normal; margin: 20px 0 10px; }
h4, h5, h6 { text-align: center; font-weight: normal;}

h2 { text-align: left; font-size: 22px; }

h3 { font-size: 20px; }

h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

/* Other Html Elements */
.titles { font-weight: normal; border-bottom-width: 0; font-size: 24px; text-decoration: none; underline: none;}
.titles a:link, .titles a:visited, .titles a:active {
text-decoration: none;
underline: none;
font-size: 24px;
font-weight: normal;
border-bottom-width: 0;
}

pre, blockquote 
{
	overflow: auto;
	padding: 0 10px;
	margin: 20px 30px;
	line-height: 1.8em;
	background-color: #f5f5f5;
	border: 1px solid #e0e0e0;
}

pre:hover, blockquote:hover
{
	background-color: #f0f0f0;
	border: 1px solid #d0d0d0;
}

pre { padding-top: 10px; padding-bottom: 10px; }

code { color: #779900; font-family: Consolas, Verdana, "Courier New", Sans-Serif; }

ul, ol { line-height: 2.0em; }

ul { list-style-image: url(bullet00.gif); }

abbr, acronym { font-style: normal; border-bottom: 1px dotted #333333; cursor: help; }

del { text-decoration: line-through; color: #999999; }

ins { text-decoration: none; color: #009977; }

/* Header */

#header h1 { padding-left: 30px; }
#header h1 a {font-size: 25px;}

#left {
	width: 60px;
	float: left;
}

#gallery1 {
  position: relative;
  padding-top: 50%;
  -moz-user-select: none; user-select: none;
}

#gallery1 img {
  position: absolute;
  top: 20%;
  left: 12.5%;
  max-width: 24.5%;
  max-height: 49.5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-user-select: none; user-select: none;
  cursor: zoom-in;
}
#gallery1 img:nth-child(4n-2) {left: 37.5%;}
#gallery1 img:nth-child(4n-1) {left: 62.5%;}
#gallery1 img:nth-child(4n) {left: 87.5%;}
#gallery1 img:nth-child(n+5) {top: 75%;}

#gallery1 img:focus {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 31;
  max-width: 100%;
  max-height: 100%;
  outline: none;
  pointer-events: none;
}

#gallery1 img:focus ~ div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  background: rgba(240,240,240,.9);
  cursor: zoom-out;
}

/*** MAIN MENU - ESSENTIAL STYLES ***/
.menu-toggle{display:none;}
#menu-main-navigation{display:block;}

.srt-menu, .srt-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.srt-menu ul {
	position:		absolute;
	display:none;
	width:			100%; /* left offset of submenus need to match (see below) */
}
.srt-menu ul li {
	width:			100%;
}
.srt-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.srt-menu li {
	float:			left;
	position:		relative;
	margin-left: 1px;
}
.srt-menu li li {
	margin-left:0px;
}
.srt-menu a {
	display:		block;
	position:		relative;
}
.srt-menu li:hover ul,
.srt-menu li.sfHover ul {
	display:block;
	left:			0;
	top:			50px; /* match top ul list item height */
	z-index:		99;
	-webkit-box-shadow:  2px 3px 2px 0px rgba(00, 00, 00, .3);
    box-shadow:  2px 3px 2px 0px rgba(00, 00, 00, .3);
	background: #dae0ed;
	background-repeat: repeat-x;
	
}
ul.srt-menu li:hover li ul,
ul.srt-menu li.sfHover li ul {
	top:			-999em;
}
ul.srt-menu li li:hover ul,
ul.srt-menu li li.sfHover ul {
	left:			12em; /* match ul width */
	top:			0;
	
}
ul.srt-menu li li:hover li ul,
ul.srt-menu li li.sfHover li ul {
	top:			-999em;
	
}
ul.srt-menu li li li:hover ul,
ul.srt-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
	
}

.list{										/*маркированный список*/
    list-style-image: url(../images/list.png);
	margin-left: 50px;
	font-style:normal; font-variant:normal; font-weight:normal; font-size: 20px; font-family: Arial;
}   
