html {
        
		background: url(../images/fon_.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

body {
	
}
#start {
	width: 100%;
}

table {
	margin: 0 auto; /*таблица по центру*/
	width: 50%;
    /*height: 500px;*/
    /* background: maroon;  Цвет фона таблицы */
	text-align: center;
    color: blue; /* Цвет текста */
	font-family: Arial; /* Гарнитура текста */ 
    font-size: 100%; /* Размер шрифта в процентах */ 
	font-style: italic;
	border: 0px solid black;
}
TD, TH {
	text-align: center;
	border: 0px solid black;
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 0px solid black; /* Параметры рамки */
}
@media screen and (min-width:240px) and (max-width:600px) {
	img.img_logo{
	max-width:50% !important;
    height:auto;
}
	img.img_gk{
	max-width:80% !important;
    height:auto;
}
	img.flag{
	align:center;
	max-width:50% !important;
	height:auto;
    
}
	img.img_l{
	border-radius: 0 5px;
	max-width:60% !important;
    height:auto;
}
	img.img_in{
	border-radius: 0 15px;
	max-width:70% !important;
    height:auto;
}
 
table {
	margin: 0 auto; /*таблица по центру*/
	min-width: 70%;
	max-width: 90%;
    /*height: 500px;*/
    /* background: maroon;  Цвет фона таблицы */
	text-align: center;
    color: blue; /* Цвет текста */
	font-family: Arial; /* Гарнитура текста */ 
    font-size: 40%; /* Размер шрифта в процентах */ 
	font-style: italic;
	border: 0px solid black;
}
TD, TH {
	text-align: center;
	border: 0px solid black;
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 0px solid black; /* Параметры рамки */
}
}

@media screen and (min-width:601px) and (max-width:760px) {
	img.img_logo{
	max-width:50% !important;
    height:auto;
}
	img.img_gk{
	max-width:80% !important;
    height:auto;
}
	img.flag{
	align:center;
	max-width:50% !important;
	height:auto;
    
}
	img.img_l{
	border-radius: 0 10px;
	max-width:30% !important;
    height:auto;
}
	img.img_in{
	border-radius: 0 25px;
	max-width:50% !important;
    height:auto;
}
table {
	margin: 0 auto; /*таблица по центру*/
	min-width: 50%;
	max-width: 50%;
    /*height: 500px;*/
    /* background: maroon;  Цвет фона таблицы */
	text-align: center;
    color: blue; /* Цвет текста */
	font-family: Arial; /* Гарнитура текста */ 
    font-size: 60%; /* Размер шрифта в процентах */ 
	font-style: italic;
	border: 0px solid black;
}
TD, TH {
	text-align: center;
	border: 0px solid black;
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 0px solid black; /* Параметры рамки */
}
}

@media screen and (min-width:761px) and (max-width:900px) {
	img.img_logo{
	max-width:70% !important;
    height:auto;
}
	img.img_gk{
	max-width:100% !important;
    height:auto;
}
	img.flag{
	max-width:70% !important;
    height:auto;
}
	img.img_l{
	border-radius: 0 15px;
	max-width:90% !important;
    height:auto;
}
	img.img_in{
	border-radius: 0 35px;
	max-width:90% !important;
    height:auto;
}

	table {
	margin: 0 auto; /*таблица по центру*/
	min-width: 70%;
	max-width: 80%;
    /*height: 500px;*/
    /* background: maroon;  Цвет фона таблицы */
	text-align: center;
    color: blue; /* Цвет текста */
	font-family: Arial; /* Гарнитура текста */ 
    font-size: 80%; /* Размер шрифта в процентах */ 
	font-style: italic;
	border: 0px solid black;
}
TD, TH {
	text-align: center;
	border: 0px solid black;
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 0px solid black; /* Параметры рамки */
}
}

@media screen and (min-width:901px) and (max-width:7680px) {
	img.img_logo{
	max-width:100% !important;
    height:auto;
}
	img.img_gk{
	max-width:100% !important;
    height:auto;
}
	img.flag{
	max-width:100% !important;
    height:auto;
}
	img.img_l{
	border-radius: 0 20px;
	max-width:100% !important;
    height:auto;
}
	img.img_in{
	border-radius: 0 50px;
	max-width:100% !important;
    height:auto;
}

	table {
	margin: 0 auto; /*таблица по центру*/
	min-width: 50%;
	max-width: 50%;
    /*height: 500px;*/
    /* background: maroon;  Цвет фона таблицы */
	text-align: center;
    color: blue; /* Цвет текста */
	font-family: Arial; /* Гарнитура текста */ 
    font-size: 100%; /* Размер шрифта в процентах */ 
	font-style: italic;
	border: 0px solid black;
}
TD, TH {
	text-align: center;
	border: 0px solid black;
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 0px solid black; /* Параметры рамки */
}
}